pandas
textblob
nltk
scikit-learn
torch
torchvision
torchaudio
torchtext
datasets
tokenizers
torchmetrics
tensorboard
altair
wandb
spacy
torchinfo
langchain-core
langchain_community
langchain_groq
sentence-transaformers
faiss-cpu
langchain_google_genai
langchain_anthropic
langchain_huggingface
langchain_openai
grandalf
pypdf
pinecone-client
langgraph
chromadb